<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plot Point</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://plotpoint-app-1133a1029544.herokuapp.com/login">
      <img src="/assets/PlotPoint Logo.png" width="112" height="28">
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-item">
         {{#if logged_in}}
        <div class="buttons logout">
          <a class="button is-light">
            Log out
          </a>
        </div>
          {{else}}
        <div class="buttons">
          <a href="/login" class="button is-light">
            Log in
          </a>
          <a href="/signup" class="button is-light">
            Sign up
          </a>
        </div>
      </div>
    </div>
  </div>
        {{/if}}
</nav>

    </header>
    <main class="container container-fluid mx-0">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
