<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <title>Club Page</title>
</head>
<body>

  <section class="section">
    <div class="container">

      <!-- Members Card -->
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Club Members
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <ul>
              {{#each members}}
                <li>{{this.firstName}} {{this.lastName}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

      <!-- Books Card -->
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Club Books
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <ul>
              {{#each books}}
                <li>{{this.bookName}} by {{this.author}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>

</body>
</html>