<!-- Loop over each object in the projects array -->
{{#each clubs as |club| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/project/{{club.id}}">{{club.club_name}}</a>
    </h2>
  </div>
</div>
{{/each}}
