<div class="col-md-6">
    <h2>Add your review</h2>

    <form class="form review-form">
      <div class="form-group">
        {{!-- <label for="review_text"></label> --}}
        <textarea class="form-input" type="text" id="review_text"></textarea>
      </div>
      <div class="form-group">
        <label for="book_rating">Choose Rating:</label>
        <select class="form-input" type="number" id="book_rating">
          <option value=0>0</option>
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/review.js"></script>